include base.jade
#terra-mystica(data-game-id=game.id, data-player-id=player.id)

#game
    p
        strong current player:
        span= game.currentPlayerId
    p
        strong round:
        span= game.rounds
#player-area()
    h3= player.id
    p
        strong Passed
        span= player.passed
    #controls
        button#dig Terraform
        button#build Build
        button#shovelTrack Upgrade shovel track
        button#shippingTrack Upgrade shipping track
        button#gainPower Gain power
        button#burnPower Burn power
        button#endTurn End turn
        button#pass Pass

    ul#resources
        each amount, type in player.resources
            li
                strong.type=type
                span.amount=amount

    #shipping
        h3 Shipping
        - var shipping = player.shipping;
        p
            strong= shipping.upgradeCost

    #shovel
        h3 Shovel
        - var shovel = player.shovel;
        p
            strong= shovel.upgradeCost


script(type="text/javascript", src="/phaser/build/phaser.min.js")
script(type="text/javascript")
    include js/hex.js
script(type="text/javascript")
    include js/GameState.js
script(type="text/javascript")
    include js/terra-mystica.js
script(type="text/javascript")
    include js/terra-mystica-player-interface.js

